VITE_DATA_SOURCE=google_sheet
VITE_SHEET_ID=1f83CxoN-7Oqa_F7LwqejfK8bIrpW0wGJgZAkkeVgbik
VITE_SHEET_NAME=Sheet1
VITE_SHEET_API_KEY=
VITE_GID=1399857480
VITE_SUPABASE_URL=https://xxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJ...
